<div class="grid-box">
    <div class="grid-heading collapse-heading" aria-expanded="false" data-toggle="collapse" data-target="#travelInsForm">
        <h3 aria-expanded="false" data-toggle="collapse" data-target="#travelInsForm">{{ 'company.company-travel-insurance.travel-insurance' | translate }}</h3>
    </div>
    <!-- Grid Heading Ends -->
    <div class="collapse" id="travelInsForm">
    <div class="grid-inner">
        <form [formGroup]="travelInsuranceForm">
            <div class="form-row">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <label>&nbsp;</label>
                        <div class="select-options">
                            <span>
                                <label>
                                    <span class="custom-check">
                                    <input id="companyTravelenroll" type="checkbox" [(ngModel)]="checkboxValue"
                                        (change)="travelInsuranceCheck()" name="enroll" formControlName="enroll">{{
                                    'company.company-travel-insurance.enroll-for-travel-insurance' | translate }}
                                    <span></span>
                                    </span>
                                </label>
                                </span>
                            <show-errors [control]="travelInsuranceForm.controls.enroll"></show-errors>
                        </div>
                        <!-- Search Field Ends -->
                    </div>
                    <!-- Log #1162: As per client feedback adding new field policy number -->
                    <div class="col-md-3 col-xs-12">
                        <label>{{'company.company-travel-insurance.policyNo' | translate }}
                        </label>
                        <input class="fm-txt form-control" type="text" name="policyNumber" id="companyTravelPolicyNumber"
                          formControlName="policyNumber" placeholder="{{ 'company.company-travel-insurance.policyNo' | translate }}" (blur)="travelInsuranceCheck()">
                        <show-errors [control]="travelInsuranceForm.controls.policyNumber"></show-errors>
                    </div>

                    <div class="col-md-3 col-xs-12">
                        <label>{{ 'company.company-travel-insurance.effective-date' | translate }}</label>
                        <div class="calender-field">
                            <my-date-picker 
                                [ngClass]="(travelFormEditMode == false) ? 'removeCross':''"
                                id="companyTravelEffectiveDate" 
                                [options]="myDatePickerOptions" 
                                name="effectiveDate"
                                placeholder="{{ 'company.company-travel-insurance.dd/mm/yyyy' | translate }}"
                                formControlName="effectiveDate" 
                                (inputFocusBlur)="changeDateFormat($event, 'effectiveDate','travelInsuranceForm',effectiveDateMandatory)"
                                (click)="travelInsuranceCheck()">
                            </my-date-picker>
                            <show-errors [control]="travelInsuranceForm.controls.effectiveDate"></show-errors>
                        </div>
                        <!-- Calendar Field Ends -->
                    </div>

                    <div class="col-md-3 col-xs-12">
                        <label>{{ 'company.company-travel-insurance.termination-date' | translate }}</label>
                        <div class="calender-field">
                            <my-date-picker 
                                [ngClass]="(travelFormEditMode == false) ? 'removeCross':''"
                                id="companyTravelTerminatedDate" 
                                [options]="myDatePickerOptions" 
                                name="terminatedDate"
                                placeholder="{{ 'company.company-travel-insurance.dd/mm/yyyy' | translate }}"
                                formControlName="terminatedDate" 
                                (inputFocusBlur)="changeDateFormat($event, 'terminatedDate','travelInsuranceForm')">
                            </my-date-picker>
                            <show-errors [control]="travelInsuranceForm.controls.terminatedDate"></show-errors>
                        </div>
                        <!-- Calendar Field Ends -->
                    </div>
                </div>
            </div>
            <!-- Form Row ENds -->
        </form>
        <!-- Form Row ENds -->
    </div>
    </div>
    <!-- Grid Inner Ends -->
</div>

<!-- Adjusted  PAP Amount  -->
<!--History of Adjust PAP Amount  Modal-->
<div id="companyTravelAdjustedPapAmount" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button id="companyTravelAdjustedPapAmountClose" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'company.company-financial-data.history-of-adjusted-pAP-amount' | translate
                    }}</h4>
            </div>
            <div class="modal-body">
                <div class="grid-box">
                    <div class="grid-inner">
                        <div class="form-row">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 table-col">
                                    <div class="table-responsive">
                                        <table id="adjusted-pap-amount" class="table table-bordered table-stripped">
                                        </table>
                                    </div>
                                    <!-- Table Ends -->
                                </div>
                            </div>

                        </div>
                        <!-- Form Row ENds -->
                    </div>
                    <!-- Grid Inner Ends -->

                </div>
                <!-- Grid Box Ends -->
            </div>
            <!-- Modal Body End-->

            <div class="modal-footer">
                <button id="AdjustedPapAmountClose" type="button" class="btn grey-btn" data-dismiss="modal">{{
                    'button.close' | translate }}</button>
            </div>
            <!-- Modal Footer Ends-->

        </div>
    </div>

</div>

<!--History of Standard PAP Amount  Modal-->
<div id="companyTravel StandardPapAmount" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button id="standardPapAmountClose1" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'company.company-financial-data.history-of-standard-pAP-amount' | translate
                    }}</h4>
            </div>
            <div class="modal-body">
                <div class="grid-box">
                    <div class="grid-inner">
                        <div class="form-row">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 table-col">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-stripped" id="standard-pap-amount"></table>
                                    </div>
                                    <!-- Table Ends -->
                                </div>
                            </div>

                        </div>
                        <!-- Form Row ENds -->
                    </div>
                    <!-- Grid Inner Ends -->

                </div>
                <!-- Grid Box Ends -->
            </div>
            <!-- Modal Body End-->

            <div class="modal-footer">
                <button id="standardPapAmountClose" type="button" class="btn grey-btn" data-dismiss="modal">{{
                    'button.close' | translate }}</button>
            </div>
            <!-- Modal Footer Ends-->

        </div>
    </div>

</div>