li.logout-header i {
    font-size: 20px;
    cursor: pointer;
}
li.logout-header {
    display: inline-block;
    position: relative;
}
.logout-dropdownheader {   
    position: absolute;
    right: 0;
    width: 182px;
    background-color: #fff;  
    top: 31px;
    z-index: 9999999;
    border-bottom: 2px solid #ddd;
    border-right:2px solid #ddd;
    border-left:2px solid #ddd;
    border-top:2px solid #ddd;
}
.logout-dropdownheader button {
    background: none;
    color: #000;
    text-align: left;
    border-bottom: 2px solid #ddd;
    width: 100%;
    padding: 8px 8px;
    margin: 0;
    border-radius:0px;
}
.logout-dropdownheader button:hover{
    background-color: #00bbb5;
    color:#fff;
}
.hidePasswordDropDown{
    display: none;
}
.onoffswitch {
    position: relative; width: 178px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;margin-bottom: 0px!important;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "OTP ON";
    padding-left: 10px;
    background-color: #00BBB5; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OTP OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 145px;
    border: 2px solid #999999; border-radius: 10px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}