<div class="login-box">
    <div class="login-box-inner">
        <form [formGroup]="loginForm">
            <div style="
            text-align: center;
        " *ngIf="istestServer">This is a Test Site</div>

            <div class="login-logo">
                <img *ngIf="loginType == 'QC' || loginType == 'AHC' || loginType == 'UFT'"
                    src="assets/images/quikcard-logo-full.svg" alt="">
                <img *ngIf="loginType == 'AB' || loginType ==  'DOC' || loginType ==  'GOV'"
                    src="assets/images/adsc-logo-full.svg" alt="" style="width: 350px!important;">
            </div>
            <div class="form-row">
                <input type="text" class="fm-txt form-control" formControlName="email" id="email"
                    (keyup)="onKeyPress($event)" placeholder="Username" (blur)="onBlur()" />
                <i class="fa fa-user"></i>
                <show-errors [control]="loginForm.controls.email"></show-errors>
            </div>
            <div class="form-row">
                <input type="{{isPassword ? 'password' : 'text' }}" class="fm-txt form-control notInCaps" 
                    formControlName="password" id="password" (keyup)="onKeyPress($event)" placeholder="Password"
                    (blur)="onBlur1()" autocomplete="on"/>
                <i class="fa fa-lock"></i>
                <i id="pass-status" [ngClass]="(isPassword != true) ? 'fa fa-eye-slash': 'fa fa-eye'" aria-hidden="true"
                    (click)="viewPassword()"></i>
                <show-errors [control]="loginForm.controls.password"></show-errors>
            </div>
            <div class="">
                <a *ngIf="loginType == 'QC'" class="fg-pass" href="quikcardlogin/forgotpassword">Forgot Password?</a>
                <a *ngIf="loginType == 'AB'" class="fg-pass" href="albertalogin/forgotpassword">Forgot Password?</a>
                <a *ngIf="loginType == 'AHC'" class="fg-pass" href="ahclogin/forgotpassword">Forgot Password?</a>
                <a *ngIf="loginType == 'DOC'" class="fg-pass" href="doctorlogin/forgotpassword">Forgot Password?</a>
                <a *ngIf="loginType == 'GOV'" class="fg-pass" href="govlogin/forgotpassword">Forgot Password?</a>
                <a *ngIf="loginType == 'UFT'" class="fg-pass" href="uftlogin/forgotpassword">Forgot Password?</a>
            </div>
            <div class="form-row">
                <input [ngClass]="(disabledItem != true) ? 'green-btn form-control': 'disabled-btn form-control'"
                    [attr.disabled]="disabledItem ? true : null" type="button" value="{{currentUserService.loginText}}"
                    (click)="Login()" (keyup)="onKeyPress($event)" />
            </div>
        </form>
    </div>
    <p> {{ 'Disclaimer.text' | translate }}</p>
    <p> {{ 'Disclaimer.text1' | translate }}</p>
</div>
<div id="snackbar"></div>
<div *ngIf="showLoader && !currentUserService.showLoader" class="loader-outer">
    <div class="cube-wrapper">
        <div class="cube-folding">
            <span class="leaf1"></span>
            <span class="leaf2"></span>
            <span class="leaf3"></span>
            <span class="leaf4"></span>
        </div>
        <span class="loading" data-name="Loading">{{'company.plan.benefits.pleaseWait'|translate}}</span>
    </div>
</div>
<button id="appMenuPopupBtn" [hidden]="true" data-toggle="modal" data-target="#AppHeaderMenu">
    {{ 'button.open-modal' | translate }}</button>
<div id="AppHeaderMenu" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="resetappHeaderMenu" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Application Menus</h4>
            </div>
            <div class="modal-body">
                <div class="grid-box">
                    <div class="grid-inner">
                        <div class="form-row">
                            <div class="row min-ht-sf">
                                <div class="col-md-12 col-xs-12">
                                    <div class="select-options text-center">
                                        <span class="login-btn" *ngFor="let headerMenu of appHeaderMenu">
                                            <button (click)="appMenuRedirection(headerMenu.hmsAppKey)"
                                                class="btn green-btn">{{headerMenu.hmsAppDesc}}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>