<div class="modal-dialog">
  <div class="modal-content ">
    <div class="modal-header">
      <button id="btnCloseShowClaimItems" type="button" title="Close" class="close"
      (click)="cancel()" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Duplicate Claim List</h4>
    </div>

    <!-- General Information -->

    <div class="grid-box">
      <div class="grid-heading">
        <h3>{{'claims.claims-add.claims-general-information.general-information' | translate}}</h3>
      </div>
     
    </div>

    <div class="modal-footer">

      <div class="form-row text-center" style="margin-top: 13px;">
        <button class="btn green-btn" id="closeClaimDuplicate" (click)="continue()" data-dismiss="modal">Close</button> 
        <!-- Cheque Claim Button-->
        <!-- log 833 feedbback -->
      </div>

    </div>
  </div>



</div>