<div class="grid-box" id="coverage_procedures_div">
  <div class="grid-content">
    <div class="grid-heading collapse-heading" aria-expanded="true" data-toggle="collapse"
      data-target="#coverageProceduresSection">
      <h3 aria-expanded="true" data-toggle="collapse" data-target="#coverageProceduresSection">
        Plan Coverage Rules </h3>
    </div>
    <div class="collapse in" id="coverageProceduresSection">
      <div class="grid-box">
        <div class="grid-inner">
          <div class="form-row">
            <div class="row">
              <div class="col-md-12 col-xs-12 table-col">
                <div class="table-responsive">
                  <table id='plan-rule' class="inlinePopupTable table table-bordered table-stripped">
                   
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
