<button class="btn green-btn sm-width" id="btnModalTrusteeInfo" data-toggle="modal" (click)="getTrusteeInfo();"
  data-target="#ModalTrusteeInfo" style="display:none"></button>
<div id="ModalTrusteeInfo" class="modal fade dbPopup" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="btnCloseTrusteeInformation" type="button" title="Close" class="close"
          data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{'card.trustee-information' | translate}} </h4>
      </div>
      <div class="modal-body">
        <div class="grid-box">
          <div class="grid-heading">
            <h3>{{'card.add-trustee' | translate}} </h3>
          </div>
          <form [formGroup]="TrusteePopUpFormGroup">
            <div class="grid-inner">
              <div class="form-row">
                <div class="row">
                  <div class="col-md-6 col-xs-12">
                    <label>{{'card.trustee-name' | translate}} <span class="required">*</span></label>
                    <input id="tI_trusteeName" type="text" title="Trustee Name"
                      placeholder="{{'card.trustee-name' | translate}}" formControlName="trusteeName"
                      class="fm-txt form-control" maxlength="50" />
                    <show-errors [control]="TrusteePopUpFormGroup.controls.trusteeName"></show-errors>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <label>{{'common.termination-date' | translate}}</label>
                    <div class="calender-field">
                      <my-date-picker id="tI_datepicker" [options]="myDatePickerOptions" name="terminationDate"
                        [ngClass]="expired  ? 'expired' : 'notExpired'"
                        placeholder="{{'common.date-placeholder' | translate}} " formControlName="terminationDate"
                        (inputFocusBlur)="changeDateFormat($event, 'terminationDate' ,'TrusteePopUpFormGroup',true)">
                      </my-date-picker>
                      <show-errors [control]="TrusteePopUpFormGroup.controls.terminationDate"></show-errors>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-xs-12">
                    <label>{{'common.address-line-1' | translate}}
                      <span class="required">*</span>
                    </label>
                    <input type="text" placeholder="{{'common.address-line-1' | translate}}" formControlName="addLine1"
                      id="tI_addLine1" class="fm-txt form-control" required />
                    <show-errors [control]="TrusteePopUpFormGroup.controls.addLine1"></show-errors>
                  </div>

                  <div class="col-md-6 col-xs-12">
                    <label>{{'common.address-line-2' |translate}}</label>
                    <input type="text" placeholder="{{'common.address-line-2' |translate}}" formControlName="addLine2"
                      id="tI_addLine2" class="fm-txt form-control" />
                    <show-errors [control]="TrusteePopUpFormGroup.controls.addLine2"></show-errors>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-xs-12">
                    <label>{{'common.postal-code' | translate}} <span class="required">*</span></label>
                    <input id="tI_postalCode" type="text" title="Postal Code"
                      placeholder="{{'common.postal-code' | translate}}" (blur)="isCompanyPostalcodeValid($event)"
                      formControlName="postalCd" class="upperCase fm-txt form-control" />
                    <show-errors [control]="TrusteePopUpFormGroup.controls.postalCd"></show-errors>
                  </div>
                  <div class="col-md-3 col-xs-12">
                    <label>{{'common.city' | translate}}<span class="required">*</span></label>
                    <input id="tI_city" type="text" title="City" placeholder="{{'common.city' | translate}}"
                      formControlName="cityName" (blur)="isCompanyPostalVerifyValid($event, 'cityName')"
                      class="fm-txt form-control" maxlength="60" />
                    <show-errors [control]="TrusteePopUpFormGroup.controls.cityName"></show-errors>
                  </div>

                  <div class="col-md-3 col-xs-12">
                    <label>{{'common.province' | translate}} <span class="required">*</span></label>
                    <input id="tI_province" type="text" title="Province" placeholder="{{'common.province' | translate}}"
                      formControlName="provinceName" class="fm-txt form-control"
                      (blur)="isCompanyPostalVerifyValid($event, 'provinceName')" maxlength="60" />
                    <show-errors [control]="TrusteePopUpFormGroup.controls.provinceName"></show-errors>
                  </div>

                  <div class="col-md-3 col-xs-12">
                    <label>{{'common.country' | translate}} <span class="required">*</span></label>
                    <input id="tI_country" type="text" title="Country" placeholder="{{'common.country' | translate}}"
                      formControlName="countryName" class="fm-txt form-control" maxlength="60"
                      (blur)="isCompanyPostalVerifyValid($event, 'countryName')" />
                    <show-errors [control]="TrusteePopUpFormGroup.controls.countryName"></show-errors>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-xs-12">
                    <label>PHN<span class="required">*</span></label>
                    <input id="tI_phnNo" type="text" class="fm-txt form-control" name="phnNo" formControlName="phnNo"
                      placeholder="PHN" />
                    <show-errors [control]="TrusteePopUpFormGroup.controls.phnNo"></show-errors>
                  </div>
                  <div class="col-md-3 col-xs-12">
                    <label>{{'serviceProvider.search-table-column.first-name' | translate }}<span
                        class="required">*</span></label>
                    <input id="tI_firstName"
                      placeholder="{{'serviceProvider.search-table-column.first-name' | translate }}" type="text"
                      class="fm-txt form-control" formControlName="firstName">
                    <show-errors [control]="TrusteePopUpFormGroup.controls.firstName"></show-errors>
                  </div>
                  <div class="col-md-3 col-xs-12">
                    <label>{{'serviceProvider.search-table-column.last-name' | translate }}<span
                        class="required">*</span></label>
                    <input id="tI_lastName"
                      placeholder="{{'serviceProvider.search-table-column.last-name' | translate }}" type="text"
                      class="fm-txt form-control" formControlName="lastName">
                    <show-errors [control]="TrusteePopUpFormGroup.controls.lastName"></show-errors>
                  </div>
                  <div class="col-md-3 col-xs-12">
                    <label>{{ 'card.card-holder.data-tables.date-of-birth' | translate }}</label>
                    <div class="calender-field">
                      <my-date-picker id="tI_dob" placeholder="{{ 'common.date-placeholder' | translate }}"
                        [options]="myDatePickerOptionsDob" name="dob" formControlName="dob"
                        (inputFocusBlur)="changeDateFormatDob($event, 'dob','searchCardHolderForm')">
                      </my-date-picker>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 text-center">
                  <label>&nbsp;</label>
                  <button id="btnSaveTrusteeInfo" class="btn green-btn btn-lg" type="submit"
                    (click)="SaveTrusteeInfo()">
                    {{TrusteeSubmitButtonText}}</button>
                </div>

              </div>
            </div>
          </form>
        </div>
        <div class="grid-box">
          <div class="grid-heading">
            <h3>{{'card.trustee-information' | translate}}</h3>
          </div>
          <div class="grid-inner">
            <div class="form-row">
              <div class="row">
                <div class="col-md-12 col-xs-12 table-col">
                  <div class="table-responsive">
                    <table id="TrusteeInfo" datatable [dtOptions]="dtOptions['TrusteeInfo']"
                      [dtTrigger]="dtTrigger['TrusteeInfo']"
                      class="table table-bordered table-stripped inlinePopupTable">
                      <thead>
                        <tr>
                          <th width="10%">{{'common.trustee' | translate}}</th>
                          <th width="10%" class="amount_right_grid">{{'common.postal-code' | translate}}</th>
                          <th width="10%" class="amount_right_grid">{{'common.city' | translate}}</th>
                          <th width="10%" class="amount_right_grid">{{'common.province' | translate}}</th>
                          <th width="10%" class="amount_right_grid">{{'common.country' | translate}} </th>
                          <th width="10%" class="amount_right_grid">{{'common.termination-date' | translate}}</th>
                          <th width="10%" class="amount_right_grid">{{'common.createdon' | translate}}</th>
                          <th width="10%" class="amount_right_grid">{{'common.action' | translate}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="tableRow" *ngFor="let dataRow of TrusteeInfotableData; let i = index"
                          id="{{'row_'+i}}">
                          <td>{{dataRow.trusteeName}}</td>
                          <td class="amount_right_grid">{{dataRow.postalCode}}</td>
                          <!--Log 1022 param (postalCd->postalCode)-->
                          <td class="amount_right_grid">{{dataRow.cityName}}</td>
                          <td class="amount_right_grid">{{dataRow.provinceName}}</td>
                          <td class="amount_right_grid">{{dataRow.countryName}}</td>
                          <td class="amount_right_grid">{{dataRow.terminationDate | dateFormate}}</td>
                          <td class="amount_right_grid">{{dataRow.createdOn | dateFormate}}</td>
                          <td class="amount_right_grid">
                            <a href='javascript:void(0)' (click)="setTrusteeInfoForm(dataRow)"
                              class='edit_row table-action-btn edit-ico'><i class='fa fa-pencil'></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="closeTrusteeInfoForm" title="Close" class="btn grey-btn" data-dismiss="modal">{{'button.close' |
          translate}}</button>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!showLoader" class="loader-outer">
  <div class="cube-wrapper">
    <div class="cube-folding">
      <span class="leaf1"></span>
      <span class="leaf2"></span>
      <span class="leaf3"></span>
      <span class="leaf4"></span>
    </div>
    <span class="loading" data-name="Loading">{{'company.plan.benefits.pleaseWait'|translate}}</span>
  </div>
</div>