<input type="hidden" id="cardHolderKey" value="{{cardHolderKey}}">
<div id="CardHolderEligibility" class="modal fade dbPopup" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="btnCloseCardholderPopup" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{'card.card-holder.eligibility.add-eligibility' | translate}}</h4>
      </div>
      <div class="modal-body">
        <card-holder-popup-general-information (cardHolderKey)="cardHolderKey" [CardHolderGeneralInfo]="CardHolderGeneralInfo"></card-holder-popup-general-information>
        <div class="grid-box">
          <div class="grid-heading">
          <h3>{{'card.card-holder.eligibility.eligibility-history' | translate}}</h3>
            <div class="web-reg">
              <button id="btnAddNewEligibilityPopup" class="green-btn-add btn" title="Add New" (click)="addEligibilityFieldValue()">
                <i class="fa fa-plus"></i> {{'button.addnew' | translate}} </button>
            </div>
            </div>
            <div class="grid-inner">
              <div class="form-row">
                <div class="row">
                  <div class="col-md-12 col-xs-12 table-col">
                    <div class="table-responsive">
                      <table id='cardholder-eligibility-history-table' datatable [dtOptions]="dtOptions['cardholder-eligibility-history-table']" 
                      [dtTrigger]="dtTrigger['cardholder-eligibility-history-table']" class="table table-bordered table-stripped">
                        <thead>
                          <tr>
                            <th width="20%">{{'common.plan' | translate}}</th>
                            <th width="10%" class="amount_right_grid">{{'common.effectivedate' | translate}}</th>
                            <th width="10%" class="amount_right_grid">{{'common.expirydate' | translate}}</th>
                            <th width="20%" class="amount_right_grid">{{'common.action' | translate}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="tableRow" *ngFor="let dataRow of eligibilityHistorytableData; let i = index" id="{{'row_'+i}}">
                            <td>
                              <label class='editableLabel' *ngIf="dataRow['chIgnorePlanAge'] == 'T'">{{'common.yes' |translate}}</label>
                              <label class='editableLabel' *ngIf="dataRow['chIgnorePlanAge'] == 'F'">{{'common.no' | translate}}</label>
                              <label class='editableLabel' *ngIf="dataRow['chIgnorePlanAge'] != 'T' && dataRow['chIgnorePlanAge'] != 'F'"></label>
                              <input id="{{'cardholder-eligibility-history-table'+i+'chIgnorePlanAge'}}" type="checkbox" value="{{dataRow['chIgnorePlanAge']}}"
                              class="editableInput" [checked]="dataRow['chIgnorePlanAge'] == 'T'" data-updateid="chIgnorePlanAge">
                            </td>
                            <td class="amount_right_grid">
                              <label class='editableLabel'>{{dataRow['eligibilityEffectiveOn']}}</label>
                              <input type="text" id="{{'cardholder-eligibility-history-table'+i+'eligibilityEffectiveOn'}}" 
                               class="fm-txt form-control" placeholder="{{'common.date-placeholder' | translate}}"
                               [ngClass]="{'editableInput':true,'required':true}"
                              (blur)="changeDateFormat($event, 'cardholder-eligibility-history-table'+i+'eligibilityEffectiveOn','cardholder-eligibility-history-table'+i+'eligibilityExpiryOn','effective');validateEmpty($event,'cardholder-eligibility-history-table'+i+'eligibilityEffectiveOn');"
                              data-rowIndex="1" data-updateid="eligibilityEffectiveOn"   value="{{dataRow.eligibilityEffectiveOn|dateFormate}}">
                             </td>
                            <td class="amount_right_grid">
                              <label class='editableLabel expiryDate'>{{dataRow['eligibilityExpiryOn']}}</label>
                              <input type="text" id="{{'cardholder-eligibility-history-table'+i+'eligibilityExpiryOn'}}"  class="fm-txt form-control expiryDate"
                               placeholder="{{'common.date-placeholder' | translate}}"
                              data-rowIndex="1" data-updateid="eligibilityExpiryOn"  
                               [ngClass]="{'editableInput':true}"
                              (blur)="changeDateFormat($event, 'cardholder-eligibility-history-table'+i+'eligibilityEffectiveOn', 'cardholder-eligibility-history-table'+i+'eligibilityExpiryOn','expity')" value="{{dataRow.eligibilityExpiryOn|dateFormate}}">
                             </td>
                            <td class="amount_right_grid">
                              <input id="cch_popupEligibilityKey" type="hidden"  data-type="hidden"  class="editableInput" name="chEligibilityKey"
                              data-updateid="chEligibilityKey" value="{{dataRow['chEligibilityKey']}}">
                              <div class="tb-actions tb-actions-right" *ngIf="i == 0">
                                <a href="javascript:void(0)" class="edit_row table-action-btn edit-ico amount_right_grid">
                                  <i dir="rtl" class="fa fa-pencil"></i>
                                </a>
                                <a href="javascript:void(0)" class="save_row table-action-btn save-ico">
                                  <i class="fa fa-save"></i>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Grid Box Ends -->
        </div>
        <!-- Modal Body End-->
        <div class="modal-footer">
          <button id="closePopup" class="btn grey-btn" title="Close" data-dismiss="modal">{{'button.close' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
  <!--For (Task 612 HMS Issue) data-target removed-->
  <button id="btnEligibilityHistory" (click)="getEligibilityHistory()" value="" style="display:none" data-target="#CardHolderEligibility" data-toggle="modal"></button>