<div [hidden]="hideExistingContainer">
  <div class="grid-box">
    <div class="grid-heading">
      <h3>{{'serviceProvider.billing-address.ban-bank-account.general-filter'|translate}}</h3>
    </div>
    <!-- Grid Heading Ends -->
    <div class="grid-inner">
      <form [formGroup]="ExistingBanForm">
        <div class="form-row">
          <div class="row">
            <div class="col-md-3 col-xs-12">
              <label>{{'serviceProvider.billing-address.ban-bank-account.buss-arr-number'|translate}}</label>
              <input id="spbaBANba_BanId" type="text" class="fm-txt form-control"
                placeholder="{{'serviceProvider.billing-address.ban-bank-account.buss-arr-number'|translate}}"
                formControlName="banId">
              <!-- Search Field Ends -->
            </div>

            <div class="col-md-3 col-xs-12">
              <label>{{'serviceProvider.billing-address.ban-bank-account.bank-account-number'|translate}}</label>
              <input id="spbaBANba_BanAccount" type="text" class="fm-txt form-control"
                placeholder="{{'serviceProvider.billing-address.ban-bank-account.bank-account-number'|translate}}"
                formControlName="account">
            </div>

            <div class="col-md-3 col-xs-12">
              <label>&nbsp;</label>
              <button class="btn green-btn" *ngIf="banBankAccountChecks[0].searchExistingBan == 'T'"
                (click)="SearchBan()">{{'button.search'|translate}}</button>
            </div>
          </div>
        </div>
        <!-- Form Row ENds -->
      </form>
    </div>
  </div>
  <div class="grid-box">
    <div class="grid-inner">
      <div class="form-row">
        <div class="row">
          <div class="col-md-12 col-xs-12 table-col">
            <div class="table-responsive" id="searchBanBankdetails">
              <table id="search-existing-ban" class="display table table-bordered table-stripped">
              </table>
            </div>
            <!-- Table Ends -->
          </div>
        </div>
      </div>
      <!-- Form Row ENds -->
    </div>
    <!-- Grid Inner Ends -->
  </div>

  <div style="width: 100%;text-align: center">
    <button title="Close" class="btn grey-btn" (click)="CloseExisting()">{{'button.close' | translate}}</button>
  </div>
</div>
<!-- Grid box Ends -->
<div [hidden]="!hideExistingContainer">
  <div class="grid-box">
    <div class="grid-heading">
      <h3>{{'serviceProvider.billing-address.ban-bank-account.bAN-setup-heading'|translate}}</h3>
      <div class="web-reg" style="display: none;">
        <button type="button" [disabled]="disableBanId" class="green-btn-add btn"
          *ngIf="banBankAccountChecks[0].useExistingBan == 'T'"
          (click)="openModel(BaNumber)">{{'serviceProvider.billing-address.ban-bank-account.use-existing-BAN-heading'|translate}}</button>
      </div>
    </div>
    <div class="grid-inner">
      <form [formGroup]="BANSetupFormGroup">
        <div class="form-row">
          <div class="row">
            <div class="col-md-3 col-xs-12">
              <label>{{'serviceProvider.billing-address.ban-bank-account.buss-arr-number'|translate}}
                <span class="required">*</span>
              </label>
              <div class="search-field">
                <input id="spbaBAN_BAN" (blur)="fillBanDetailsOnBlur()"
                  [attr.disabled]="!serviceProviderAddMode? true:null" type="text" class="fm-txt form-control"
                  placeholder="{{'serviceProvider.billing-address.ban-bank-account.buss-arr-number'|translate}}"
                  formControlName="ban">
                <a *ngIf="!disableBanId" [attr.disabled]="disableBanId? true:null" class="gen-btn btn"
                  (click)="getAutoGeneratedBanNo()">{{'card.general-information.auto-generate' | translate}}</a>
                <a *ngIf="disableBanId" [attr.disabled]="disableBanId? true:null"
                  class="gen-btn btn">{{'card.general-information.auto-generate' | translate}}</a>
                <show-errors [control]="BANSetupFormGroup.controls.ban"></show-errors>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <label>{{'serviceProvider.billing-address.ban-bank-account.client-name'|translate}}
                <span class="required">*</span>
              </label>
              <input [attr.disabled]="serviceProviderViewMode? true:null" id="spbaBAN_clientName"
                allow-pattern="/^[a-zA-Z\s]*$/" type="text" class="fm-txt form-control"
                placeholder="{{'serviceProvider.billing-address.ban-bank-account.client-name'|translate}}"
                formControlName="clientName">
              <show-errors [control]="BANSetupFormGroup.controls.clientName"></show-errors>
            </div>
            <div class="col-md-3 col-xs-12">
              <label>{{'card.card-eligibility.effectivedate'|translate}}
                <span class="required">*</span>
              </label>
              <div class="calender-field">
                <my-date-picker [ngClass]="(serviceProviderViewMode == true) ? 'removeCross':''"
                  [disabled]="serviceProviderViewMode" id="spbaBAN_effectiveDate" [options]="myDatePickerOptions"
                  placeholder="{{'common.date-placeholder' | translate}}" name="banEffectiveDate"
                  formControlName="banEffectiveDate"
                  (inputFocusBlur)="changeDateFormatBanNumber($event, 'banEffectiveDate' ,'BANSetupFormGroup',true)">
                </my-date-picker>
              </div>
              <show-errors [control]="BANSetupFormGroup.controls.banEffectiveDate"></show-errors>
            </div>
            <div class="col-md-3 col-xs-12">
              <label>{{'card.card-eligibility.expirydate'|translate}}</label>
              <div class="calender-field">
                <my-date-picker [ngClass]="(serviceProviderViewMode == true) ? 'removeCross':''"
                  [disabled]="serviceProviderViewMode" id="spbaBAN_expdate" [options]="myDatePickerOptions"
                  placeholder="{{'common.date-placeholder' | translate}}" name="expdate" formControlName="expdate"
                  (inputFocusBlur)="changeDateFormatBanNumber($event, 'expdate' ,'BANSetupFormGroup')">
                </my-date-picker>
              </div>
              <show-errors [control]="BANSetupFormGroup.controls.expdate"></show-errors>
            </div>
            <div class="col-sm-6">  
              <label>{{'card.comments'|translate}}</label>
              <textarea [attr.disabled]="serviceProviderViewMode? true:null" id="spbaBAN_comments" type="text"
                class="notInCaps fm-txt form-control" placeholder="{{'card.comments'|translate}}"
                formControlName="comments"></textarea>
              <show-errors [control]="BANSetupFormGroup.controls.comments"></show-errors>
            </div>

            <!-- div created to show File Upload field -->
            <div class="col-md-3 col-xs-12">
              <label>{{'common.documentName' | translate}}</label>
              <!-- field input has been disabled in ban setup pop up in service provider view after edit -->
              <input style="display: none" type="file" (click)="BANsetupCommentsFileInput.value = null" (change)="BANsetupCommentsFileUpload($event)" #BANsetupCommentsFileInput>
              <input formControlName="BANsetupCommentsDocumentName" class="fm-txt form-control datepicker" type="text" [ngClass]="{'disableInput':true}">
              <ul *ngIf="error.isError==true" class="validation-errors">
                  <li style="color: red">{{error.errorMessage}}</li>
              </ul>
              <ul *ngIf="error1.isError==true" class="validation-errors">
                  <li style="color: red">{{error1.errorMessage}}</li>
              </ul>                
            </div>
            <!-- div is for add and remove functionality. -->
            <div class="col-md-3 col-xs-12 BANfileUpload">
                  <button class="btn green-btn" (click)="BANsetupCommentsFileInput.click()">{{'common.selectFile' | translate}}</button>
                  <button *ngIf="showRemoveBtn" (click)="removeBANsetupCommentsFile()" class="btn red-btn ">{{'common.remove' | translate}}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="grid-box">
    <div class="table-responsive">
      <div class="grid-heading">
        <h3>{{'serviceProvider.billing-address.ban-bank-account.bank-account-details'|translate}}</h3>
        <div class="web-reg">
          <button title="Add New Bank Account" *ngIf="banBankAccountChecks[0].addNewBankAccount == 'T'"
            id="spbabba_addServiceProviderBankAccount"
            [attr.disabled]="(disableAddNew ? true : null) || (serviceProviderViewMode? true : null)"
            class="green-btn-add btn" (click)="AddNew()"><i
              class="fa fa-plus"></i>{{'serviceProvider.billing-address.ban-bank-account.add-new-bank-account'|translate}}</button>
        </div>
      </div>
      <div class="grid-inner">
        <table id="spbabba_serviceProviderBankAccount" class="table table-bordered table-stripped dataTable">
          <thead>
            <tr>
              <th width="15%">{{'serviceProvider.billing-address.ban-bank-account.bank-number'|translate}}</th>
              <th class="amount_right" width="15%">
                {{'serviceProvider.billing-address.ban-bank-account.branch-number'|translate}}</th>
              <th class="amount_right" width="15%">
                  {{'serviceProvider.billing-address.ban-bank-account.bank-name'|translate}}</th>
              <th class="amount_right" width="10%">
                {{'serviceProvider.billing-address.ban-bank-account.account-number'|translate}}</th>
              <th class="amount_right" width="10%">{{'card.card-eligibility.effectivedate'|translate}}</th>
              <th class="amount_right" width="10%">{{'card.card-eligibility.expirydate'|translate}}</th>
              <th class="amount_right" width="10%">{{'common.action'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="arrBankList.length == 0 && !addMode" class="odd">
              <td valign="top" colspan="7" class="dataTables_empty">
                {{'card.card-holder.data-tables.datamsg' | translate}}</td>
            </tr>
            <tr class="tableRow" *ngIf="addMode">
              <td>
                <input type="text" name="provBankNum" value="" OnlyAlphaNumeric="true" maxlength="10"
                  [(ngModel)]="arrNewMaximumArray.provBankNum" class="fm-txt form-control" id="spbabba_bank"
                  [ngClass]="{ 'error_field': newRecordValidate && (arrNewMaximumArray.provBankNum == '' || arrNewMaximumArray.provBankNum.length < 3)}"
                  (blur)="ValidateControls($event,'Bank Number',arrNewMaximumArray.provBankNum,arrNewMaximumArray.provBankBranchNum)">
              </td>
              <td>
                <input type="text" name="provBankBranchNum" value="" OnlyAlphaNumeric="true" maxlength="10"
                  [(ngModel)]="arrNewMaximumArray.provBankBranchNum" class="fm-txt form-control" id="spbabba_branch"
                  (blur)="ValidateControls($event,'Branch Number',arrNewMaximumArray.provBankNum,arrNewMaximumArray.provBankBranchNum)"
                  [ngClass]="{ 'error_field': newRecordValidate && (arrNewMaximumArray.provBankBranchNum == '' || arrNewMaximumArray.provBankBranchNum.length < 5)}">
              </td>
              <td>
                  <input type="text" name="provBankName" value="" OnlyAlphaNumeric="true" maxlength="30"
                  [(ngModel)]="arrNewMaximumArray.provBankName" class="fm-txt form-control" id="spbabba_bankname">
              </td>
              <td>
                <input type="text" class="fm-txt form-control" value="" OnlyAlphaNumeric="true" maxlength="20"
                  class="fm-txt form-control" name="provBankAcctNum" id="spbabba_account"
                  (blur)="ValidateControls($event,'Account')"
                  [ngClass]="{ 'error_field': newRecordValidate && (arrNewMaximumArray.provBankAcctNum == '' || arrNewMaximumArray.provBankAcctNum.length < 7)}"
                  [(ngModel)]="arrNewMaximumArray.provBankAcctNum" required>
              </td>
              <td>
                <my-date-picker [options]="myDatePickerOptions" placeholder="{{'common.date-placeholder' | translate}}"
                  [ngClass]="{ 'error_field': newRecordValidate && arrNewMaximumArray.effectiveOn == '',  'hide_error_border': true }"
                  id="txtEffectiveOn" [(ngModel)]="arrNewMaximumArray.effectiveOn" name="effectiveOn"
                  (inputFocusBlur)="ChangeInputDateFormat($event,0,'effectiveOn',false);">
                </my-date-picker>
              </td>
              <td class="expiryDate">
                <my-date-picker [disabled]=true [options]="myDatePickerOptions"
                  placeholder="{{'common.date-placeholder' | translate}}" id="txtExpireOn"
                  [(ngModel)]="arrNewMaximumArray.expiredOn" name="expiredOn"
                  (inputFocusBlur)="ChangeInputDateFormat($event,0,'expiredOn',false);">
                </my-date-picker>
              </td>
              <td class="amount_right">
                <a href="javascript:void(0)" title="Cancel" class="delete_row table-action-btn del-ico" (click)="cancelInfo(dataRow, i)">
                <i class="fa fa-times"></i></a>
              </td>
            </tr>
            <ng-container *ngIf="!editMode">
              <tr *ngFor="let dataRow of arrBankList;let i = index">
                <td>
                  <span>{{dataRow.provBankNum}}</span>
                </td>
                <td class="amount_right">
                  <span>{{dataRow.provBankBranchNum}}</span>
                </td>
                <td class="amount_right">
                  <span>{{dataRow.bankName}}</span>
                </td>
                <td class="amount_right">
                  <span>{{dataRow.provBankAcctNum}}</span>
                </td>
                <td class="amount_right">
                  <span>{{dataRow.effectiveOn  | dateFormate}}</span>
                </td>
                <td class="amount_right expiryDate">
                  <span *ngIf="dataRow.provBankAcctKey != selectedRowId">{{dataRow.expiredOn  | dateFormate}}</span>
                  <my-date-picker [options]="myDatePickerOptions" placeholder="{{'common.date-placeholder' | translate}}"  
                    [(ngModel)]="dataRow.expiredOn" id="txtExpireOn{{i}}"
                    [ngClass]="{ 'error_field': newRecordValidate &&  dataRow.expiredOn == '', 'hide_error_border': true }"
                    (inputFocusBlur)="ChangeInputDateFormat($event,i,'expiredOn',true);"
                    *ngIf="dataRow.provBankAcctKey == selectedRowId">
                  </my-date-picker>
                </td>
                <td class="amount_right">
                  <a (click)="editInfo(dataRow, i)" class='edit_row table-action-btn editIco' *ngIf="dataRow.provBankAcctKey != selectedRowId" title="Edit">
                    <i class='fa fa-pencil'></i></a>
                  <a *ngIf="dataRow.provBankAcctKey == selectedRowId && !addMode" href="javascript:void(0)" title="Cancel" class="delete_row table-action-btn del-ico" (click)="cancelInfo(dataRow, i)">
                  <i class="fa fa-times"></i></a>
                </td>
              </tr>
            </ng-container>
            <!-- Edit mode -->
            <ng-container *ngIf="editMode">
              <tr *ngFor="let dataRow of arrBankList;let i = index">
                <td>
                  <input type="text" name="provBankNum" value="" OnlyAlphaNumeric="true" maxlength="10"
                    [(ngModel)]="dataRow.provBankNum" class="fm-txt form-control" id="spbabba_bank"
                    [ngClass]="{ 'error_field': newRecordValidate && (dataRow.provBankNum == '' || dataRow.provBankNum.length < 3)}"
                    (blur)="ValidateControls($event,'Bank Number',dataRow.provBankNum,dataRow.provBankBranchNum)">
                </td>
                <td class="amount_right">
                  <input type="text" name="provBankBranchNum" value="" OnlyAlphaNumeric="true" maxlength="10"
                  [(ngModel)]="dataRow.provBankBranchNum" class="fm-txt form-control" id="spbabba_branch"
                  (blur)="ValidateControls($event,'Branch Number',dataRow.provBankNum,dataRow.provBankBranchNum)"
                  [ngClass]="{ 'error_field': newRecordValidate && (dataRow.provBankBranchNum == '' || dataRow.provBankBranchNum.length < 5)}">
                </td>
                <td class="amount_right">
                  <input type="text" name="provBankName" value="" OnlyAlphaNumeric="true" maxlength="30"
                  [(ngModel)]="dataRow.bankName" class="fm-txt form-control" id="spbabba_bankname">
                </td>
                <td class="amount_right">
                  <input type="text" class="fm-txt form-control" value="" OnlyAlphaNumeric="true" maxlength="20"
                  class="fm-txt form-control" name="provBankAcctNum" id="spbabba_account"
                  (blur)="ValidateControls($event,'Account')"
                  [ngClass]="{ 'error_field': newRecordValidate && (dataRow.provBankAcctNum == '' || dataRow.provBankAcctNum.length < 7)}"
                  [(ngModel)]="dataRow.provBankAcctNum" required>
                </td>
                <td class="amount_right">
                  <my-date-picker [options]="myDatePickerOptions" placeholder="{{'common.date-placeholder' | translate}}"
                  [ngClass]="{ 'error_field': newRecordValidate && dataRow.effectiveOn == '',  'hide_error_border': true }"
                  id="txtEffectiveOn" [(ngModel)]="updateEffectiveDate[i]" name="effectiveOn"
                  (inputFocusBlur)="ChangeInputDateFormat($event,0,'effectiveOn',false);">
                  </my-date-picker>
                </td>
                <td class="amount_right expiryDate">
                  <my-date-picker [options]="myDatePickerOptions" placeholder="{{'common.date-placeholder' | translate}}"
                    [(ngModel)]="updateExpiredDate[i]" id="txtExpireOn" name="expiredOn"
                    [ngClass]="{ 'error_field': newRecordValidate &&  dataRow.expiredOn == '', 'hide_error_border': true }"
                    (inputFocusBlur)="ChangeInputDateFormat($event,i,'expiredOn',true);">
                  </my-date-picker>
                </td>
                <td class="amount_right">
                  <a href="javascript:void(0)" title="Cancel" class="delete_row table-action-btn del-ico" (click)="cancelInfo(dataRow, i)">
                  <i class="fa fa-times"></i></a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div style="width: 100%;text-align: center">
    <button *ngIf="!serviceProviderViewMode && banBankAccountChecks[0].saveSetupBan == 'T'" id="spbaBAN_save"
      title="Save" class="btn green-btn btn-lg" type="submit" (keyup.arrowLeft)="focusNextEle($event,'spbaBAN_close')"
      (keyup.arrowRight)="focusNextEle($event,'spbaBAN_close')" (click)="saveBanData()"
      [ngClass]="{'disabled':disableAddBtn}">{{buttonText}}</button>
    <button title="Close" id="spbaBAN_close" class="btn grey-btn"
      (keyup.arrowLeft)="focusNextEle($event,'spbaBAN_save')" (keyup.arrowRight)="focusNextEle($event,'spbaBAN_save')"
      (click)="CloseModal()" data-dismiss="modal">{{'button.close' | translate}}</button>
  </div>
</div>

<!-- modal Content Ends -->
<!--BA Number Modal -->
<div id="BaNumber" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'serviceProvider.billing-address.ban-bank-account.select-BAN-number'|translate}}</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" (click)="CloseModal()" class="btn grey-btn" id="btnCloseBanModal"
          data-dismiss="modal">{{'button.close'|translate}}</button>
      </div>
    </div>
  </div>
</div>