<div class="section-heading">
    <h2>{{'feeGuide.procedureCode.heading.proc-code'|translate}} -
        <span>{{'button.search'|translate}}</span>
    </h2>
</div>
<!-- Section Heading Ends -->

<div class="grid-box">
    <div class="grid-heading">
        <h3>Vision Procedure Code</h3>
        <div class="web-reg">
            <a class="green-btn-add btn" *ngIf="visionProcCodeCheck[0].addVisionProcCode == 'T'" data-toggle="modal"
                data-target="#addVisionProcCode" (click)="enableAddMode()">
                <i class="fa fa-plus"></i>Add Vision Procedure Code</a>
        </div>
    </div>
    <!-- Grid Heading Ends -->

    <div class="grid-inner">
        <form [formGroup]="visionProcCode">
            <div class="form-row">
                <div class="row min-ht-sf">
                    <div class="col-md-3 col-xs-12">
                        <label>Procedure ID</label>
                        <input id="vpc_procId" type="text" class="fm-txt form-control" placeholder="Procedure ID"
                            formControlName="procId" (keydown)="isNumberKey($event)" (keyup.enter)="isEnterKey($event)">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label>Procedure Description</label>
                        <ng2-completer [inputId]="'vpc_procDesc'" id="vpc_procDesc" formControlName="visionProcDesc"
                            [datasource]="procDescRemote" [minSearchLength]="3" [clearUnselected]="false"
                            [fillHighlighted]="true" [autoHighlight]="true" [selectOnFocus]="true"
                            [placeholder]="'Search Procedure Description'" [textSearching]="'Please wait...'"
                            [inputClass]="'form-control'" (selected)="onProcDescSelect($event)">
                        </ng2-completer>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <label>&nbsp;</label>
                        <button id="btnVisionProc" *ngIf="visionProcCodeCheck[0].searchVisionProcCode == 'T'"
                            class="btn green-btn" (click)="getVissionProc()">{{'button.search'|translate}}</button>
                        <button id="btnClearVisionProc" class="btn grey-btn"
                            (click)="resetVissionProc()">{{'button.clear'|translate}}</button>
                    </div>
                </div>
                <!-- Form Row ENds -->
            </div>
            <!-- Grid Inner Ends -->
        </form>
    </div>
    <div [hidden]="!showSearchTable">
        <div class="grid-box">
            <div class="grid-heading">
                <h3>{{'feeGuide.procedureCode.heading.proc-code-list'|translate}}</h3>
            </div>
            <div class="grid-inner">
                <form>
                    <div class="form-row">
                        <div class="row">
                            <div class="col-md-12 col-xs-12 table-col">
                                <div class="table-responsive">
                                    <table id="visionProcedureCode"
                                        class="display table table-bordered table-stripped alignRightText">
                                        <thead>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <td width="100px">
                                                    <input ([ngModel])="visionIdL" id="vpc_dentalServiceId" type="text"
                                                        class="fm-txt form-control inputSearch" name="visionServiceId"
                                                        placeholder="{{'feeGuide.procedureCode.proc-code-listing.serviceId' | translate}}">
                                                </td>
                                                <td width="100px">
                                                    <input [(ngModel)]="visionProcIdL" id="vpc_dentalProcId" type="text"
                                                        class="fm-txt form-control inputSearch amount_right_grid"
                                                        name="visionProcedureId"
                                                        placeholder="{{'feeGuide.procedureCode.proc-code-listing.proc-id' | translate}}">
                                                </td>
                                                <td width="100px">
                                                    <input [(ngModel)]="visionShortDescL" id="vpc_dentalProcDesc"
                                                        type="text"
                                                        class="fm-txt form-control inputSearch amount_right_grid"
                                                        name="visionProcedureDesc"
                                                        placeholder="{{'feeGuide.procedureCode.proc-code-listing.desc-short' | translate}}">
                                                </td>
                                                <td width="200px">
                                                    <input [(ngModel)]="visionProcedureLongDescL"
                                                        id="vpc_dentalProcDescLong" type="text"
                                                        class="fm-txt form-control inputSearch amount_right_grid"
                                                        name="visionProcedureLongDesc"
                                                        placeholder="{{'feeGuide.procedureCode.proc-code-listing.desc-long' | translate}}">
                                                </td>
                                                <td width="50px">
                                                    <div class="form-row text-right">
                                                        <button title="{{'common.search' | translate}}"
                                                            id="vpc_searchbtn" class="btn green-btn searchreset"
                                                            type="submit"
                                                            (click)="getProcCodeListByGridFilteration('visionProcedureCode')">
                                                            <span class="glyphicon glyphicon-search"></span>
                                                        </button>
                                                        <button title="{{'common.reset' | translate}}" id="vpc_resetbtn"
                                                            class="btn grey-btn searchreset" (click)="getVissionProc()">
                                                            <span class="glyphicon glyphicon-repeat"></span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- Table Ends -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="addVisionProcCode" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button id="vpca_close" type="button" class="close" data-dismiss="modal"
                        (click)="resetaddProCodeOnClose">&times;</button>
                    <h4 class="modal-title">Vision Procedure Code</h4>
                </div>
                <div class="modal-body">
                    <div class="grid-box">
                        <div class="grid-inner">
                            <div class="form-row">
                                <form [formGroup]="addVisionProcCodeForm">
                                    <div class="row min-ht-sf">
                                        <div class="col-md-6 col-xs-12">
                                            <label>Vision Service
                                                <span class="required">*</span>
                                            </label>
                                            <ng2-completer [inputId]="'vpca_vissionService'"
                                                formControlName="visionService" [datasource]="visionProcDataRemote"
                                                [minSearchLength]="1" [clearUnselected]="true" [fillHighlighted]="true"
                                                [autoHighlight]="true" [selectOnFocus]="true"
                                                [placeholder]="'Search Vision Service'"
                                                [textSearching]="'Please wait...'" [inputClass]="'form-control'"
                                                (selected)="onSelect($event)">
                                            </ng2-completer>
                                            <show-errors
                                                [control]="addVisionProcCodeForm.controls.visionService"></show-errors>
                                        </div>

                                        <div class="col-md-6 col-xs-12">
                                            <label>{{'feeGuide.procedureCode.proc-code-listing.proc-id'|translate}}
                                                <span class="required">*</span>
                                            </label>
                                            <input id="vpca_procID" type="text" OnlyNumber="true"
                                                formControlName="procId" class="form-control"
                                                placeholder="{{'feeGuide.procedureCode.proc-code-listing.proc-id'|translate}}"
                                                (keydown)="isNumberKey($event)" />
                                            <show-errors [control]="addVisionProcCodeForm.controls.procId"
                                                (keydown)="isNumberKey($event)"></show-errors>
                                        </div>

                                        <div class="col-md-6 col-xs-12 txtarea-height">
                                            <label>{{'feeGuide.procedureCode.proc-code-listing.desc-short'|translate}}</label>
                                            <textarea id="vpca_sdesc" class="form-control notInCaps"
                                                formControlName="descShort"
                                                placeholder="{{'feeGuide.procedureCode.proc-code-listing.desc-short'|translate}}"></textarea>
                                            <show-errors [control]="addVisionProcCodeForm.controls.descShort">
                                            </show-errors>
                                        </div>

                                        <div class="col-md-6 col-xs-12 txtarea-height">
                                            <label>{{'feeGuide.procedureCode.proc-code-listing.desc-long'|translate}}</label>
                                            <textarea id="vpca_ldesc" class="form-control notInCaps"
                                                formControlName="descLong"
                                                placeholder="{{'feeGuide.procedureCode.proc-code-listing.desc-long'|translate}}"></textarea>
                                            <show-errors [control]="addVisionProcCodeForm.controls.descLong">
                                            </show-errors>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <!-- Form Row ENds -->
                        </div>
                    </div>
                </div>
                <!-- Modal Body End-->
                <div class="modal-footer">
                    <button id="vpca_Update" class="green-btn btn" *ngIf="!viewMode"
                        (keyup.arrowLeft)="focusNextEle($event,'vpca_Close')"
                        (keyup.arrowRight)="focusNextEle($event,'vpca_Close')"
                        (click)="saveProcedureCode()">{{buttonText}}</button>
                    <button id="vpca_Close" class="btn grey-btn" data-dismiss="modal"
                        (keyup.arrowLeft)="focusNextEle($event,'vpca_Update')"
                        (keyup.arrowRight)="focusNextEle($event,'vpca_Update')"
                        (click)="resetaddProCodeOnClose()">{{'button.close'|translate}}</button>
                </div>
                <!-- Modal  Footer Ends -->
            </div>
        </div>
    </div>
    <div *ngIf="showLoader" class="loader-outer">
        <div class="cube-wrapper">
            <div class="cube-folding">
                <span class="leaf1"></span>
                <span class="leaf2"></span>
                <span class="leaf3"></span>
                <span class="leaf4"></span>
            </div>
            <span class="loading" data-name="Loading">{{loaderPlaceHolder}}</span>
        </div>
    </div>