body {
  background-color: #ddd;
}
h3 {
  margin-top: 0;
}
.tabs-left { margin-top: 3rem; }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border:0;
}
.list-group {
  line-height: 11px;
  width: 100%;
}
.list-group .list-group-item {
  height: 50px;
}
.list-group .list-group-item h4, span {
  line-height: 11px;
}
.tab-content {
  margin-left: 45px;
}
.tab-content .tab-pane.active {
  display: block;
}
.tab-content .tab-pane { 
  display: none;
  background-color: #fff;
  padding: 1.6rem;
  overflow-y: auto;
}
.nav-tabs {
	float: left;
	border-bottom: 0;
}
.nav-tabs li {
	float: none;
	margin: 0;
}
.nav-tabs li a {
	margin-right: 0;
	border: 0;
	border-radius: 0;
	background-color: #ccc;
}
nav-tabs li a:hover {
	background-color: #000;
}
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: yellow;  
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: -4px;
  color: yellow;  
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  color: yellow;  
  background-color: #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.actions-list {
  border: 1px solid #000;
  padding:5px;
  margin-top:5px;
}
.align-top label.switch {
  float: right;
  top: -20px;
  right: 89%;
}
.actions-list label.switch {
  float: right;
  right: 10px;
}
.checkBox {
  margin-left:5px;
}
input[type="checkbox"]:disabled {
  cursor: no-drop;
}